
/* Fonts */
@font-face {
  font-family: MurderMystery;
  src: url(../assets/GolfClubHomicide-51azG.ttf);
}
@font-face {
  font-family: Diarys;
  src: url(../assets/HelloKetta-d99oX.ttf);
}
@font-face {
  font-family: Alverata;
  src: url(../assets/AlverataIrregularBl.ttf);
}
@font-face {
  font-family: Mollas;
  src: url(../assets/Mollas-Regular.ttf);
}
@font-face {
  font-family: Newspaper;
  src: url(../assets/OldNewspaperTypes.ttf);
}
@font-face {
  font-family: Calps;
  src: url(../assets/CalpsSans-Regular.ttf);
}
@font-face {
  font-family: Murder;
  src: url(../assets/The\ Black\ Festival\ -\ DEMO.ttf);
}
@font-face {
  font-family: Diary;
  src: url(../assets/AmaticSC-Bold.ttf);
}
/* Main */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #212121;
  cursor: url(/assets/icons8-3d-pointer-24.png), auto ;
}
/* Navbar */
.home {
  float: left;
  display: block;
  color: #8A0707;
  text-align: right;
  padding: 14px 20px;
  text-decoration: none;
  font-family: Murder;
  font-size: 23px;
  transition: 0.3s ease-in;
}
.home:hover {
  color: #EEF1BC;
  animation: navOpen 1s ease-in-out;
}
@keyframes navOpen {
  0% {
    display: none;
    opacity: 0;
    max-height: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    max-height: 396px;
  }
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  
  }
  
}
.navigation {
  position: fixed;
  z-index: 2;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #212121 !important;
  top: 0;
  width: 100%;
}
.nav-item {
  float: right;
  display: block;
  color: #EEF1BC;
  text-align: right;
  padding: 14px 20px;
  text-decoration: none;
  transition: 0.3s all ease-out; 

}
.nav-item:hover {
  color: #8A0707;
  
}
#songs-nav {
  font-family: Newspaper;
  font-size: small;
}
#diary {
  font-family: Diary;
  font-size: 20px;
  padding: 10px
}
/* Big Title */
.hero {
  background-color: #212121 !important;
  margin-left: 0;
  margin-right: 0;
  box-sizing: 100%;
  width: auto;
}
.p-title {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
  font-family: Murder;
  font-size: 76px;
  color: #EEF1BC;
  padding-top: 10rem;
  text-shadow: 5px 5px 10px #8A0707;
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 2px;
}
@keyframes floating {
  0% { transform: translate(0,  -50px); }
  /* 50%  { transform: translate(0, -15px); } */
  100%   { transform: translate(0, 0px); }   
}
.p-subhead {
  display: flex;
  justify-content: center;
  font-family: Newspaper;
  color: #EEF1BC;
  padding-top: 0rem
}
#point {
  color: #212121;
}
/* Stickman running */
#stickman {
  max-width: 100%;
  height: 90px;
}
.running {
  float: right;
  margin-right: 2rem
}
.resting {
  float: left;
  margin-left: 2rem
}
.walking {
  margin-left: 30rem;
  margin-right: 10rem;
}
/* Content Landing Page */
.author{
  color: #1a2c57;
  font-family: Diary;
  font-size: 30px;
  text-shadow: 2px 2px 1px #212121;
}
.author1 {
  font-size: 23px !important;
}
.important {
  display: flex;
  justify-content: right;
  padding-right: 2rem;
  color:#e5be5b;
  font-family: Newspaper;
  padding-top: 13rem;
  font-size: small;
  text-shadow: 1px 1px 2px #212121;
}
.stickmen {
  padding-right: 2rem;
}

.div-content {
  padding-top: 7rem;
  padding-bottom: 15rem;
}
.anthony {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 30rem;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 25px 0 rgba(0, 0, 0, 0.19);
  animation-name: floating-image;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
@keyframes floating-image {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 7px); }
  100%   { transform: translate(0, -0px); }   
}
.author1 {
  padding: 0rem;
  text-indent: 50px;
  color: #e5be5b;
  font-family: Newspaper;
  font-size: 30px;
  text-shadow: 3px 3px 2px #212121;
}
/* Footer */
.footer {
  background-color: #212121 !important;
  bottom: 0;
  left: 0;
  z-index: 0;
  position: relative;
  width: 100%; 
  
}
.div-footer {
  /* display: flex;
  justify-content: center; */
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: #e5be5b;
}
.title-footer {
  display: flex;
  justify-content: center;
  font-family: Murder;
}
#cp-year {
  display: flex;
  justify-content: center;
}
.small-icon {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.github {
  color: #e5be5b;
}
.content {
  background-color: #8A0707;

}
.waves {
  background-color: #8A0707;
}

/* LANDING PAGE ^ */
/* RIDDLES PAGE */
.svg-riddles {
  z-index: -1;
  left: 0;
  top: 0
}
.riddles-paragraph-game {
  letter-spacing: 0.01rem;
}
.question{ 
  margin-top: 1.5rem;
}
input[type="text"] {
  background-color: transparent;
  outline: none;
  border-right: none;
  border-top: none;
  border-left: none;
  color:#EEF1BC;
  font-family: Diary;
  font-size: 20px
}
input[type="text"]:focus {
  border-bottom: 2px solid #8A0707;
}
.body-rid {
  background-image: url(../assets/ssshape\ \(12\).svg);
  z-index: -100;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-x: hidden;
}
.correct {
  color: #588157;
}
.incorrect {
  color: #c1121f;
}
.correct-answer {
  color: green;
  font-size: 16px;
  margin-left: 10px;
  display: none;
}
.incorrect-answer {
  color: red;
  font-size: 16px;
  margin-left: 10px;
  display: none;
}
.inputs-riddles{
  margin-top: 1rem;
}
.button {
  margin-top: 2rem;
  text-align: center;
}
.show{
  display: inline;
  color: green
}
.hide{
  display: none;
}
.box-around {
  position: relative;
  padding-top: 7rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.box2 {
  width: 80%;
  max-width: 600px;
  height: 80%;
  font-size: 20px;
  font-family: Diary;
  color: #e5be5b;
  font-weight: bold;  
  background-color: #212121;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  border-color: #8A0707;
  border: 2px solid #8A0707;
  box-shadow: #3C1B1B 0px 22px 70px 4px;
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
#validate-button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  padding: 0 18px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: Newspaper;
}
#validate-button:hover {
  background-color: #588157;
}
#validate-button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
@media (min-width: 768px) {
  #validate-button {
    min-width: 60px;
    padding: 0 25px;
  }
}
#show-button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  padding: 0 18px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: Newspaper;
}
#show-button:hover {
  background-color: #c1121f;
}
#show-button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
@media (min-width: 768px) {
  #show-button {
    min-width: 60px;
    padding: 0 25px;
  }
}
/* RIDDLE PAGE END */

/* POPUP BUTTON OPEN CLOSE */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  width: 80%;
  max-width: 600px;
  background-color: #212121;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  z-index: 10000;
  border-color: #e5be5b;
  border: 1px solid #e5be5b;
}

.popup-text {
  color: #EEF1BC;
  font-family: Newspaper;
  /* font-family: Diary; */
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.popup-close-btn {
  background-color: #8A0707;
  color: #212121;
  font-family: Newspaper;
  font-size: 14px;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.popup-close-btn:hover {
  opacity: 0.8;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}
/* POPUP END */
/* COVER CSS START */
.cintro{
  color: #e5be5b;
  font-size: 14px;
  font-family: sans-serif;
  margin-top: 5rem;
  text-align: center;
}
.cexplain {
  font-family: Mollas;
  font-size: 20px;
  color: #e5be5b
}
.cimg {
  position: relative;
  padding-top: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.cpa {
  border: 2px solid #8A0707;
  padding: 10px;
  margin-left: 1rem;
  display: inline-block;
}
.cimg-t {
  width: 50%;
  height: 50%;
  background-color: #8A0707;
  padding: 25px;
  border-radius: 8px;
  position: relative;
  border-color: #8A0707;
  border: 2px solid #8A0707;
  box-shadow: #EEF1BC 0px 20px 30px -10px;
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.img-t {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#ch3 {
  font-family: Newspaper;
}
.underlined {
  /*   background: red; */
    position: relative;
  }
.underline-mask:after {
    content: '';
    position: absolute;
    top: 95%;
    width: 150%;
    aspect-ratio: 3 / 1;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 6px solid hsl(280 80% 50%);
    /* Use a conic gradient mask to hide and show the bits you want */
    --spread: 140deg;
    --start: 290deg;
    mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
}
  
  
.underline-overflow {
    display: inline-block;
    /* A little extra padding and overflow hidden   */
    overflow: hidden;
    padding-bottom: clamp(1rem, 2vmin, 2rem);
}
.underline-overflow:after {
    content: '';
    position: absolute;
    top: 100%;
    height: 150%;
    aspect-ratio: 2.5 / 1;
    left: 50%;
    transform: translate(-50%, -10%);
    border-radius: 50%;
    border: 6px solid hsl(10 80% 50%);
}
  
.underline-clip:after {
    content: '';
    position: absolute;
    top: 95%;
    width: 150%;
    aspect-ratio: 3 / 1;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 3.5px solid #c1121f;
    /* Use a clip-path to hide and show the bits you want */
    clip-path: polygon(0 0, 50% 50%, 100% 0);
}

  /* COVER CSS END */

/* DIARY START */
/* .body-diary {
  background-image: url(../assets/pack.png);
  z-index: -100;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: none;
  overflow-x: hidden;
} */
.img-d {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  z-index: -3;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* DIARY END */