/* Fonts */
@font-face {
  font-family: MurderMystery;
  src: url(../assets/GolfClubHomicide-51azG.ttf);
}
@font-face {
  font-family: Newspaper;
  src: url(../assets/OldNewspaperTypes.ttf);
}
@font-face {
  font-family: Murder;
  src: url(../assets/The\ Black\ Festival\ -\ DEMO.ttf);
}
@font-face {
  font-family: Diary;
  src: url(../assets/AmaticSC-Bold.ttf);
}
/* Main */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #212121;
  cursor: url(/assets/icons8-3d-pointer-24.png), auto ;
}
/* Navbar */
.home {
  float: left;
  display: block;
  color: #8A0707;
  text-align: right;
  padding: 14px 20px;
  text-decoration: none;
  font-family: Murder;
  font-size: 23px;
  transition: 0.3s ease-in;
}
.home:hover {
  color: #EEF1BC;
  animation: navOpen 1s ease-in-out;
}
@keyframes navOpen {
  0% {
    display: none;
    opacity: 0;
    max-height: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    max-height: 396px;
  }
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  
  }
  
}
.navigation {
  position: fixed;
  z-index: 2;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #212121 !important;
  top: 0;
  width: 100%;
}
.nav-item {
  float: right;
  display: block;
  color: #EEF1BC;
  text-align: right;
  padding: 14px 20px;
  text-decoration: none;
  transition: 0.3s all ease-out; 

}
.nav-item:hover {
  color: #8A0707;
  
}
#songs-nav {
  font-family: Newspaper;
  font-size: small;
}
#diary {
  font-family: Diary;
  font-size: 20px;
  padding: 10px
}
/* Big Title */
.hero {
  background-color: #212121 !important;
  margin-left: 0;
  margin-right: 0;
  box-sizing: 100%;
  width: auto;
}
.p-title {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
  font-family: Murder;
  font-size: 76px;
  color: #EEF1BC;
  padding-top: 10rem;
  text-shadow: 5px 5px 10px #8A0707;
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 2px;
}
@keyframes floating {
  0% { transform: translate(0,  -50px); }
  /* 50%  { transform: translate(0, -15px); } */
  100%   { transform: translate(0, 0px); }   
}
.p-subhead {
  display: flex;
  justify-content: center;
  font-family: Newspaper;
  color: #EEF1BC;
  padding-top: 0rem
}
#point {
  color: #212121;
}
/* Stickman running */
#stickman {
  max-width: 100%;
  height: 90px;
}
.running {
  float: right;
  margin-right: 2rem
}
.resting {
  float: left;
  margin-left: 2rem
}
.walking {
  margin-left: 30rem;
  margin-right: 10rem;
}
/* Content Landing Page */
.author{
  color: #1a2c57;
  font-family: Newspaper;
  text-shadow: 3px 3px 2px #212121;
}
.author1 {
  font-size: 23px !important;
}
.important {
  display: flex;
  justify-content: right;
  padding-right: 2rem;
  color:#e5be5b;
  font-family: Newspaper;
  padding-top: 13rem;
  font-size: small;
  text-shadow: 1px 1px 2px #212121;
}
.stickmen {
  padding-right: 2rem;
}

.div-content {
  padding-top: 2rem
}
.anthony {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 30rem;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 25px 0 rgba(0, 0, 0, 0.19);
  animation-name: floating-image;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
@keyframes floating-image {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 7px); }
  100%   { transform: translate(0, -0px); }   
}
.author1 {
  padding: 0rem;
  text-indent: 50px;
  color: #e5be5b;
  font-family: Newspaper;
  font-size: 30px;
  text-shadow: 3px 3px 2px #212121;
}
/* Footer */
.footer {
  background-color: #212121 !important;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
}
.div-footer {
  /* display: flex;
  justify-content: center; */
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: #e5be5b;
}
.title-footer {
  display: flex;
  justify-content: center;
  font-family: Murder;
}
#cp-year {
  display: flex;
  justify-content: center;
}
.small-icon {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.github {
  color: #e5be5b;
}
.content {
  background-color: #8A0707;

}
.waves {
  background-color: #8A0707;
}

/* LANDING PAGE ^ */

/* NEWSPAPER PAGE */


/* RIDDLES PAGE */
.box-around {
  padding-top: 5rem;
  display: flex ;
  justify-content: center ;
  font-size: 20px;
  font-family: Diary;
  color: #e5be5b;
  font-weight: bold;
}
.inputs-riddles {
  border: 2px solid #8A0707;
  border-radius: 10px;
  box-sizing: border-box;
  height: 850px;
  width: 400px;
  padding-left: 2rem;
  padding-right: 1rem;
  box-shadow: #3C1B1B 0px 22px 70px 4px;
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  background-color: #212121;
}
.svg-riddles {
  z-index: -1;
  left: 0;
  top: 0
}
.riddles-paragraph-game {
  letter-spacing: 0.01rem;
}
/* Riddle Game */
.reveal-btn {
  background-color: transparent;
  align-items: flex-start; 
}
.div-button {
  justify-content: center;
  display: flex;
  margin-top: 1rem;
  padding: auto; 
  margin-bottom: 15rem;
}
input[type="text"] {
  background-color: transparent;
  outline: none;
  border-right: none;
  border-top: none;
  border-left: none;
  color:#EEF1BC;
  font-family: Diary;
  font-size: 20px
}
input[type="text"]:focus {
  border-bottom: 2px solid #8A0707;
}
.body-rid {
  background-image: url(/assets/ssshape\ \(12\).svg);
  z-index: -100;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-x: hidden;
}
.img-rid {
  z-index: -2;
  display: flex;
  float: left !important;
}